################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FlyingDutchmanAirlines/obj
/FlyingDutchmanAirlines/bin
/TestResults
/FlyingDutchmanAirlines_Tests/bin
/FlyingDutchmanAirlines_Tests/obj
/FlyingDutchmanAirlines_Tests/TestResults
