################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FlyingDutchmanAirlines/obj
/FlyingDutchmanAirlines/bin
/FlyingDutchmanAirlines_Tests/bin
/FlyingDutchmanAirlines_Tests/obj
/FlyingDutchmanAirlines/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.BuildHost.resources.dll
/FlyingDutchmanAirlines/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/FlyingDutchmanAirlines/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/FlyingDutchmanAirlines/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.resources.dll
/FlyingDutchmanAirlines/bin/Debug/net9.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/FlyingDutchmanAirlines/obj/Debug/net9.0/apphost.exe
/FlyingDutchmanAirlines/obj/Debug/net9.0/FlyingDutchmanAirlines.assets.cache
/FlyingDutchmanAirlines/obj/Debug/net9.0/FlyingDutchmanAirlines.csproj.FileListAbsolute.txt
/FlyingDutchmanAirlines/obj/Debug/net9.0/FlyingDutchmanAirlines.GlobalUsings.g.cs
/FlyingDutchmanAirlines/obj/FlyingDutchmanAirlines.csproj.nuget.dgspec.json
/FlyingDutchmanAirlines/obj/FlyingDutchmanAirlines.csproj.nuget.g.props
/FlyingDutchmanAirlines/obj/FlyingDutchmanAirlines.csproj.nuget.g.targets
/FlyingDutchmanAirlines/obj/project.assets.json
/FlyingDutchmanAirlines/obj/project.nuget.cache
